django==3.2.9
pillow~=9.2.0
psycopg2-binary
djoser
django-haystack==3.1.1
djangorestframework==3.13.1
web3==5.30.0
requests==2.28.1
django-web3-auth
pypdf2~=3.0.1
django
django-widget-tweaks
django-cors-headers
material
