{% extends 'base.html' %}
{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}
import material design
import 'bootstrap/dist/js/bootstrap.bundle'
{% load widget_tweaks %}
{% block content %}
<img style="margin-left: 124px" height="124" width="500"  src="{{ domain }}/images/lordlike_photo.jpeg" alt="">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="css/style.css">
    <hr>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <br>
            <a style="background-color: rgba(97,0,255,0.5); border: none" href="../create_text_trans" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Text Transaction</a>
            <hr>
            <a style="background-color: rgba(97,0,255,0.5); border: none" href="../ipfs_trans" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">IPFS Transaction</a>
        </div>
    </div>
</div>

    {% endblock %}



