{% extends 'base.html' %}

{% block content %}

<div class="container" style="max-width: 800px;">
  <div class="row">
    <div class="col s12 m8 offset-m2">
      <div class="card">
        <div class="card-content">
            <hr>
            <hr>
            <hr>
          <div class="row">
            <div class="col s12 center-align mb-4">
              <button id="loginButton" onclick="" class="btn btn-primary">Login with MetaMask</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h4 style="font-size: medium">Create text transaction</h4>
              <hr>
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                  <label for="data">Text</label>
                  <input id="data" class="form-control" type="text" name="data">
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'material/includes/material_js.html' %}

<script>
function ascii_to_hexa(str)
  {
 var arr1 = [];
 for (var n = 0, l = str.length; n < l; n ++)
     {
  var hex = Number(str.charCodeAt(n)).toString(16);
  arr1.push(hex);
  }
 return arr1.join('');
   }



    const sendEthButton = document.querySelector('.sendEthButton');
window.userWalletAddress = null
    const loginButton = document.getElementById('loginButton')
    const userWallet = document.getElementById('user_wallet_address')

    function toggleButton() {
      if (!window.ethereum) {
        loginButton.innerText = 'MetaMask is not installed'
        loginButton.classList.remove('bg-purple-500', 'text-white')
        loginButton.classList.add('bg-gray-500', 'text-gray-100', 'cursor-not-allowed')
        return false
      }

      loginButton.addEventListener('click', loginWithMetaMask)
    }

    async function loginWithMetaMask() {
      const accounts = await window.ethereum.request({ method: 'eth_requestAccounts' })
        .catch((e) => {
          console.error(e.message)
          return
        })
      if (!accounts) { return }
console.log(window.ethereum)
      window.userWalletAddress = accounts[0]
        console.log(accounts[0])
        localStorage.setItem('myAccount', accounts[0]);
      let test = localStorage.getItem('myAccount')
        console.log(test)
      userWallet.value = window.userWalletAddress
      loginButton.innerText = 'Sign out of MetaMask'


      loginButton.removeEventListener('click', loginWithMetaMask)
      setTimeout(() => {
        loginButton.addEventListener('click', signOutOfMetaMask)
      }, 200)
        let xhr = new XMLHttpRequest();
    xhr.open("POST", "http://127.0.0.1:8000/blog/create/user/wallet/address/");
    xhr.setRequestHeader("Accept", "application/json");
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.onload = () => console.log(xhr.responseText);
    let data = JSON.stringify({
      "user_wallet_address": window.userWalletAddress,
    });
    console.log(userWalletAddress)
    xhr.send(data);
    }

    function signOutOfMetaMask() {
      window.userWalletAddress = null
      userWallet.innerText = ''
      loginButton.innerText = 'Sign in with MetaMask'

      loginButton.removeEventListener('click', signOutOfMetaMask)
      setTimeout(() => {
        loginButton.addEventListener('click', loginWithMetaMask)
      }, 200)
    }

    window.addEventListener('DOMContentLoaded', () => {
      toggleButton()
    });


//------------------------------------------------------------------------------

//Sending Ethereum to an address
sendEthButton.addEventListener('click', () => {
        var data_form = document.getElementById('data').value
  ethereum
    .request({
      method: 'eth_sendTransaction',
      params: [
        {
          from: localStorage.getItem('myAccount'),
          to: localStorage.getItem('myAccount'),
          data: ascii_to_hexa(data_form),
        },
      ],
    })
    .then((txHash) => {
        console.log(txHash);
        console.log('result');

    let xhr2 = new XMLHttpRequest();
    xhr2.open("POST", "http://127.0.0.1:8000/blog/create/data/");
    xhr2.setRequestHeader("Accept", "application/json");
    xhr2.setRequestHeader("Content-Type", "application/json");
    xhr2.onload = () => console.log(xhr2.responseText);
    let data2 = JSON.stringify({
        "res_hash": txHash,
        "account": localStorage.getItem('myAccount'),
    });
    xhr2.send(data2);
    })

});

ethereumButton.addEventListener('click', () => {
  getAccount();
});

async function getAccount() {
  accounts = await ethereum.request({ method: 'eth_requestAccounts' });
}
</script>



{%endblock%}
