{% extends 'base.html' %}
{% block content %}
<div class="container" style="max-width: 800px; border: none;">
  <div class="row" style="border: none;">
    <div class="col s12 m8 offset-m2" style="border: none;">
      <div class="card" style="border: none;">
        <div class="card-content" style="border: none;">
            <br>
            <br>
            <br>
          <div class="row" style="padding-left: 10px; border: none;">
            <div class="col s12 center-align mb-4" style="border: none;">
              <button id="loginButton" onclick="" class="btn btn-primary">Login with MetaMask</button>
                <small class="form-text text-muted">Connect MetaMask wallet</small>
            </div>
          </div>
          <div class="row" style="padding-left: 10px; border: none;">
            <div class="col-md-12" style="border: none;">
              <h4 style="font-size: medium">Create text transaction</h4>
                <hr>
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                <label for="data">Your text <span class="text-muted">(Write a comment to send to the Ethereum blockchain)</span></label>
                    <textarea id="data" class="form-control" rows="4" name="data"></textarea>
                    <span id="charCounter" style="display: block; margin-top: 4px;"></span>
                </div>

                <div class="form-group mt-5">
                    <button type="button" class="sendEthButton btn btn-primary">Send</button>
                    <small class="form-text text-muted">Send the transaction</small>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<script>
function ascii_to_hexa(str) {
  var arr1 = [];
  for (var n = 0, l = str.length; n < l; n++) {
    var hex = Number(str.charCodeAt(n)).toString(16);
    arr1.push(hex);
  }
  return arr1.join('');
}

const maxDataSize = 50000;

function checkDataSize(data) {
  const dataSize = new Blob([data], { type: 'text/plain' }).size;
  if (dataSize > maxDataSize) {
    return dataSize - maxDataSize;
  }
  return 0;
}

const sendEthButton = document.querySelector('.sendEthButton');
window.userWalletAddress = null;
const loginButton = document.getElementById('loginButton');
const userWallet = document.getElementById('user_wallet_address');

function isMobile() {
    return /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
}

function toggleButton() {
  if (!window.ethereum) {
    if (isMobile()) {
        loginButton.innerText = 'Open in MetaMask App';
        loginButton.addEventListener('click', () => {
            window.location.href = `https://metamask.app.link/dapp/${window.location.hostname}`;
        });
    } else {
        loginButton.innerText = 'MetaMask is not installed';
        loginButton.classList.remove('bg-purple-500', 'text-white');
        loginButton.classList.add('bg-gray-500', 'text-gray-100', 'cursor-not-allowed');
    }
    return false;
  }
  loginButton.addEventListener('click', loginWithMetaMask);
}



async function loginWithMetaMask() {
  const accounts = await window.ethereum.request({ method: 'eth_requestAccounts' })
    .catch((e) => {
      console.error(e.message);
      return;
    });
  if (!accounts) { return; }
  window.userWalletAddress = accounts[0];
  console.log(accounts[0]);
  localStorage.setItem('myAccount', accounts[0]);
  let test = localStorage.getItem('myAccount');
  userWallet.value = window.userWalletAddress;
  loginButton.innerText = 'Sign out of MetaMask';
  loginButton.removeEventListener('click', loginWithMetaMask);
  setTimeout(() => {
    loginButton.addEventListener('click', signOutOfMetaMask);
  }, 200);

  const response = await fetch(`${window.location.origin}/create/user/wallet/address/`, {
    method: 'POST',
    headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json',
    },
    body: JSON.stringify({
      "user_wallet_address": window.userWalletAddress,
    }),
  });

  const responseData = await response.json();
}

function signOutOfMetaMask() {
  window.userWalletAddress = null;
  userWallet.innerText = '';
  loginButton.innerText = 'Sign in with MetaMask';
  loginButton.removeEventListener('click', signOutOfMetaMask);
  setTimeout(() => {
    loginButton.addEventListener('click', loginWithMetaMask);
  }, 200);
}

window.addEventListener('DOMContentLoaded', () => {
  toggleButton();
});


function isValidData(data) {
  const regex = /[^a-zA-Z0-9\s]/;
  if (regex.test(data)) {
    return false;
  }
  const maliciousLinks = [
    'http://malicious.example.com',
    'https://malicious.example.com',
  ];
  for (const maliciousLink of maliciousLinks) {
    if (data.includes(maliciousLink)) {
      return false;
    }
  }
  return true;
}

// Sending Ethereum to an address
sendEthButton.addEventListener('click', async () => {
  var data_form = document.getElementById('data').value;

  if (!isValidData(data_form)) {
    alert('Invalid data.');
    return;
  }
  const excessDataSize = checkDataSize(data_form);
  if (excessDataSize > 0) {
    alert(`Data size exceeds the limit by ${excessDataSize} bytes.`);
    return;
  }


  try {
    const txResponse = await ethereum.request({
      method: 'eth_sendTransaction',
      params: [
        {
          from: localStorage.getItem('myAccount'),
          to: localStorage.getItem('myAccount'),
          data: '0x' + ascii_to_hexa(data_form),
        },
      ],
    });

    const txHash = txResponse.result;
    console.log(txHash);

    const response2 = await fetch(`${window.location.origin}/create/data/`, {
      method: 'POST',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({
        "res_hash": txHash,
        "account": localStorage.getItem('myAccount'),
      }),
    });

    const responseData2 = await response2.json();
    console.log(responseData2);

    const alertBox = document.createElement('div');
    alertBox.classList.add('alert');
    const message = document.createElement('p');
    message.textContent = 'Transaction hash: ' + txHash;
    alertBox.appendChild(message);
    const copyButton = document.createElement('button');
    copyButton.textContent = 'Copy';
    copyButton.addEventListener('click', () => {
      navigator.clipboard.writeText(txHash);
    });
    alertBox.appendChild(copyButton);
    document.body.appendChild(alertBox);
  } catch (error) {
    console.error('An error occurred:', error);
  }
});

async function getAccount() {
  try {
    const accounts = await ethereum.request({ method: 'eth_requestAccounts' });
  } catch (error) {
    console.error('An error occurred:', error);
  }
}

const dataInput = document.getElementById('data');
const charCounter = document.getElementById('charCounter');

function updateCharCounter() {
  const currentCharCount = dataInput.value.length;
  charCounter.textContent = `${currentCharCount} / ${maxDataSize} symbols`;
}

dataInput.addEventListener('input', updateCharCounter);
updateCharCounter();

</script>
{%endblock%}
