{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-center">Connect Wallet</h4>
          <div class="text-center mb-4">
            <button id='loginButton' onclick="" class="btn btn-primary">Login with MetaMask</button>
          </div>
          <hr>
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
              <label for="file" style="color: #2B333F;"><h4>Photo</h4></label>
              {{form.file|add_class:'form-control'}}
            </div>
            <hr>
            <div class="form-group">
              <label for="text" style="color: #2B333F;"><h4>Text</h4></label>
              <input id="text" class="form-control" type="text" name="text">
            </div>
            <hr>
            <div class="form-group">
              <label for="hash_ipfs" style="color: #2B333F;"><h4>IPFS</h4></label>
              <h3 id="hash_ipfs" class="mb-0">{{ data_url }}</h3>
            </div>
            <hr>
            <div class="text-center">
              <button type="submit" class="btn btn-outline-primary">Create</button>
            </div>
          </form>
          <hr>
          <div class="text-center">
            <h4>Send Transaction</h4>
            <button class="sendEthButton btn btn-primary">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
function ascii_to_hexa(str)
  {
 var arr1 = [];
 for (var n = 0, l = str.length; n < l; n ++)
     {
  var hex = Number(str.charCodeAt(n)).toString(16);
  arr1.push(hex);
  }
 return arr1.join('');
   }



    const sendEthButton = document.querySelector('.sendEthButton');
window.userWalletAddress = null
    const loginButton = document.getElementById('loginButton')
    const userWallet = document.getElementById('user_wallet_address')

    function toggleButton() {
      if (!window.ethereum) {
        loginButton.innerText = 'MetaMask is not installed'
        loginButton.classList.remove('bg-purple-500', 'text-white')
        loginButton.classList.add('bg-gray-500', 'text-gray-100', 'cursor-not-allowed')
        return false
      }

      loginButton.addEventListener('click', loginWithMetaMask)
    }

    async function loginWithMetaMask() {
      const accounts = await window.ethereum.request({ method: 'eth_requestAccounts' })
        .catch((e) => {
          console.error(e.message)
          return
        })
      if (!accounts) { return }
console.log(window.ethereum)
      window.userWalletAddress = accounts[0]
        console.log(accounts[0])
        localStorage.setItem('myAccount', accounts[0]);
      let test = localStorage.getItem('myAccount')
        console.log(test)
      userWallet.value = window.userWalletAddress
      loginButton.innerText = 'Sign out of MetaMask'


      loginButton.removeEventListener('click', loginWithMetaMask)
      setTimeout(() => {
        loginButton.addEventListener('click', signOutOfMetaMask)
      }, 200)
        let xhr = new XMLHttpRequest();
    xhr.open("POST", "http://127.0.0.1:8000/blog/create/user/wallet/address/");
    xhr.setRequestHeader("Accept", "application/json");
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.onload = () => console.log(xhr.responseText);
    let data = JSON.stringify({
      "user_wallet_address": window.userWalletAddress,
    });
    console.log(userWalletAddress)
    xhr.send(data);
    }

    function signOutOfMetaMask() {
      window.userWalletAddress = null
      userWallet.innerText = ''
      loginButton.innerText = 'Sign in with MetaMask'

      loginButton.removeEventListener('click', signOutOfMetaMask)
      setTimeout(() => {
        loginButton.addEventListener('click', loginWithMetaMask)
      }, 200)
    }

    window.addEventListener('DOMContentLoaded', () => {
      toggleButton()
    });


//Sending Ethereum to an address
sendEthButton.addEventListener('click', () => {
    var data_url = document.getElementById('hash_ipfs').textContent
    var data_form = document.getElementById('text').value
  ethereum
    .request({
      method: 'eth_sendTransaction',
      params: [
        {
          from: localStorage.getItem('myAccount'),
          to: localStorage.getItem('myAccount'),
          data: ascii_to_hexa(data_form + " " + data_url),
        },
      ],
    })
    .then((txHash) => {
        console.log(txHash);
        console.log('result');
        let xhr2 = new XMLHttpRequest();
    xhr2.open("POST", "http://127.0.0.1:8000/blog/create/ipfs/data/");
    xhr2.setRequestHeader("Accept", "application/json");
    xhr2.setRequestHeader("Content-Type", "application/json");
    xhr2.onload = () => console.log(xhr2.responseText);
    let data2 = JSON.stringify({
        "result_hash": txHash,
        "account": String(localStorage.getItem('myAccount')),
    });
    xhr2.send(data2);
    })
});


ethereumButton.addEventListener('click', () => {
  getAccount();
});

async function getAccount() {
  accounts = await ethereum.request({ method: 'eth_requestAccounts' });
}
</script>
{% endblock %}